.content-div {
    height: 98%;
}
.ant-menu-item-selected {
  background-color: #FDFF00 !important;
  color: red !important;
}

.ant-input {
  &::placeholder {
    color: #009FBD !important;
  }
  color:#9A208C !important;
}